body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #eee;
}

.removeIcon {
    color:#ff0000;
}
      
.addIcon {
    color:#00ff00;
}
      
.selectedDateTime {
    color:#ffffff;
    background-color:#428bca;
    border-color:#357ebd;
}

table td {
  vertical-align: middle!important;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.event-drop {
    font-size: 30px;
    margin: .67em 0;
    padding: 3px;
    border: 0;
    background-color: #eee;
    height: 60px;
    width: 50%;
    box-shadow:inherit;
}